<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>TPSVGEngine_PerformanceSpec</key>
		<dict>
			<key>testFile1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0032505</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile10()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.6869</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile11()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0018156</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile12()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0061139</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile13_1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021353</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile13_2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.035146</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile13_3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022142</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile13_4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.059802</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile13_5()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01193</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile13_6()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.02224</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile13_7()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010456</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile13_8()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.071644</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile13_9()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0092899</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile14()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.002603</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile15()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.002647</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0023206</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0021294</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00146</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile5()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0014226</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile6()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0039383</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile7()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0013454</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile8()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0036845</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testFile9()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0042807</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
		</dict>
		<key>TPSVG_UIImage_PerformanceSpec</key>
		<dict>
			<key>testImageCropPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10409</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testImagePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033795</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
			<key>testImageResizingPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15526</real>
					<key>baselineIntegrationDisplayName</key>
					<string>05.12.2018 at 16:05:10</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
