<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>TPSVGEngine_PerformanceSpec</key>
		<dict>
			<key>testFile1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0028456</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile10()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.4533</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile11()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0025249</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile12()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0079098</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile13_1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.025868</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile13_2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.039</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile13_3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.025882</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile13_4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.066635</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile13_5()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013704</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile13_6()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.027131</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile13_7()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.013761</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile13_8()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.083064</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile13_9()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.010058</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile14()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0035082</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile15()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0036508</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0036439</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0030571</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0018828</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile5()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0021443</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile6()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0049264</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile7()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0065948</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile8()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0051724</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testFile9()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0059505</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
		</dict>
		<key>TPSVG_UIImage_PerformanceSpec</key>
		<dict>
			<key>testImageCropPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15685</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testImagePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10722</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
			<key>testImageResizingPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.14116</real>
					<key>baselineIntegrationDisplayName</key>
					<string>06.12.2018 at 02:34:29</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
